[submodule "react-js-app"]
	path = react-js-app
	url = git@github.com:m3stash/react-js-app.git
[submodule "angular-custom-element"]
	path = angular-custom-element
	url = git@github.com:m3stash/angular-custom-element.git
